body {
  max-width: 1080px;
  margin: 0 auto;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("./no-thanks-chips.png");
  background-repeat: no-repeat;
}

.card-hand {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.card-run {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 120px;
}

.card-container {
  flex: 1 0 0;
  overflow-x: hidden;
  border-radius: 5px;
  box-shadow: 4px 5px 11px -2px rgba(0, 0, 0, 0.44);
}

.card-container:last-child {
  flex: 0 0 auto;
}

.card-in-play {
  background: whitesmoke;
  font-size: 3rem;
  border-radius: 5px;
  border: 12px solid white;
  min-width: 250px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./imgs/chips/chips-035.png"); */
}
.card-in-play .card-value {
  position: relative;
  top: 40%;
  left: 0%;
}
.card-chips-count {
  color: red;
  position: relative;
  top: 50%;
  font-size: medium;
}

.card,
.deck {
  background: whitesmoke;
  border-radius: 5px;
  border: 2px solid gray;
  width: 60px;
  height: 100px;
}

.card-value {
  position: relative;
  top: 0%;
  left: -28%;
}

.deck {
  font-size: x-small;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
}

.player {
  border: 10px solid gray;
  border-radius: 5px;
  margin: 5px;
}
.player.active {
  border: 10px solid red;
}
.player.active .player-name {
  font-weight: bold;
}
button {
  height: 2rem;
  border-radius: 5px;
  margin: 10px;
}
.deck-and-active {
  display: flex;
  flex-direction: row;
  width: 580px;
  justify-content: flex-start;
  margin-bottom: 40px;
}
